.currencyChoice {
  font-size: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.548);
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .currencyChoice {
    flex-direction: column;
    gap: 10px;
  }
}
